$violet: #f3f0ff, #e5dbff, #d0bfff, #b197fc, #9775fa, #845ef7, #7950f2, #7048e8, #6741d9, #5f3dc4;
$grape: #f8f0fc, #f3d9fa, #eebefa, #e599f7, #da77f2, #cc5de8, #be4bdb, #ae3ec9, #9c36b5, #862e9c;

.TodoTemplate {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    background-color: nth($violet, 1);

    .TodoTitle {
        background-color: nth($violet, 8);
        color: nth($violet, 1);
        height: 4rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .TodoForm {
        display: flex;

        input {
            background-color: nth($violet, 3);
            outline: none;
            border: none;
            padding: 0.5rem;
            font-size: 1.125rem;
            line-height: 1.5rem;

            &::placeholder {
                color: nth($violet, 10);
            }

            flex : 1
        }

        button {
            outline: none;
            border: none;
            background-color: nth($violet, 3);
            color: white;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1rem;
            cursor: pointer;
            transition: 1s background ease-in;

            &:hover {
                background-color: nth($violet, 5);
            }
        }
    }

    .TodoList {

        .TodoListItem {
            padding: 1rem;
            display: flex;
            align-items: center;

            .TodoCheckbox {
                cursor: pointer;
            }

            .TodoText {
                outline: none;
                border: none;
                background-color: nth($violet, 1);
                margin-left: 0.5rem;
                flex: 1;
            }

            .TodoTextEdit {
                outline: none;
                // border: none;
                background-color: nth($violet, 2);
                margin-left: 0.5rem;
                flex: 1;
            }

            .TodoRemove {
                outline: none;
                // border: none;
                display: flex;
                align-items: center;
                font-size: 1.125rem;
                color: nth($violet, 5);
                cursor: pointer;

                &:hover {
                    color: nth($violet, 10);
                }
            }

            .TodoEdit {
                outline: none;
                display: flex;
                align-items: center;
                font-size: 1.125rem;
                color: nth($violet, 5);
                margin-left: 0.25rem;
                cursor: pointer;

                &:hover {
                    color: nth($violet, 10);
                }
            }
        }


        min-height: 320px;
        max-height: 513px;
        // overflow-y: auto;
    }
}